name: Integration tests
on:
  push:
    branches: [ '**' ]
  pull_request:
    types: [ opened, reopened, synchronize ]

jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: setup-docker
        uses: docker-practice/actions-setup-docker@v1

      - name: Cache m2 repo
        uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Prepare tests
        run: |
          make prepare-tests

      - name: "Integration tests"
        run: |
          mvn clean verify -pl systemtests --no-transfer-progress

      - name: Archive results
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: artifacts
          path: systemtests/target/failsafe-reports/
