name: Dispatch OpenAPI File Change event
on:
  push:
    branches:
      - main
    paths:
      - "kafka-admin/.openapi/kafka-admin-rest.yaml"

jobs:
  dispatch:
    env:
      APP_SERVICES_CI_TOKEN: "${{ secrets.APP_SERVICES_CI_TOKEN }}"
    strategy:
      matrix:
        repo: ["redhat-developer/app-services-sdk-go", "redhat-developer/app-services-sdk-js", "redhat-developer/app-services-sdk-java"]
    runs-on: ubuntu-latest
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: "${{ env.APP_SERVICES_CI_TOKEN }}"
          repository: ${{ matrix.repo }}
          event-type: openapi-spec-change
          client-payload: '{ "id": "kafka-admin/v1", "download_url": "https://raw.githubusercontent.com/bf2fc6cc711aee1a0c2a/kafka-admin-api/main/kafka-admin/.openapi/kafka-admin-rest.yaml"}'
